.authPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.authPageContainer h1,
.authPageContainer p {
  width: 100%;
}

.authPageContainer h1 {
  color: var(--neutral-n900);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.authPageContainer p {
  color: var(--neutral-n200);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 25px;
}

.authForm {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  width: 280px;
  z-index: 0;
}

.authForm label {
  color: var(--neutral-n500);
  width: fit-content;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.authForm input {
  padding: 0px 16px;
  margin-bottom: 24px;
  height: 50px;
  border-radius: 5px;
  background: var(--neutral-n10);
}

.authForm input:last-of-type {
  margin-bottom: 20px;
}

.authForm .passwordField {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.authForm .passwordField input {
  padding: 0px 49px 0px 16px;
  margin-bottom: unset;
}

.authForm .passwordField button {
  color: var(--neutral-n500);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: unset;
}

a.textLink {
  width: fit-content;
  padding: 3px;
  color: var(--primary-p300);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 25px;
}

a.textLink:hover {
  color: var(--primary-p75);
}

p.paragraphWithLink {
  color: var(--neutral-n500);
  text-align: center;
  margin-bottom: 25px;
}

p.paragraphWithLink a.textLink {
  padding: 3px 0;
}

.btnEnter {
  border-radius: 40px;
  height: 40px;
  min-width: 145px;
  max-width: 100%;
  padding: 0 35px;
  margin-top: 10px;
  margin-bottom: 42px;

  align-self: flex-end;
}

@media only screen and (min-width: 500px) {
  .authPageContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }

  .authPageContainer p {
    font-size: 1.25rem;
    margin-bottom: 32px;
  }

  .authForm {
    margin-top: 6vh;
    width: 380px;
  }

  .authForm input {
    margin-bottom: 32px;
    font-size: 1.25rem;
    height: 60px;
  }

  a.textLink {
    font-size: 1.25rem;
  }

  .btnEnter {
    height: 60px;
    font-size: 1.25rem;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 901px) {
  .authPageContainer {
    justify-content: center;
  }

  .authForm {
    width: 380px;
    margin-top: unset;
    justify-content: unset;
  }

  a.textLink {
    margin-bottom: unset;
  }
}
