.authPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.authPageContainer h1,
.authPageContainer p {
  width: 100%;
}

.authPageContainer h1 {
  color: var(--neutral-n900);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.authPageContainer p {
  color: var(--neutral-n200);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 25px;
}

.authForm {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  width: 280px;
  max-height: 668px;
  z-index: 0;
}

.authForm label {
  color: var(--neutral-n500);
  width: fit-content;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.authForm input {
  width: 100%;
  padding: 0px 16px;
  margin-bottom: 24px;
  height: 50px;
  border-radius: 5px;
  outline: 2px solid transparent;
  transition: all 0.15s ease;
}

.authForm input:last-of-type {
  margin-bottom: 20px;
}

.authForm input:focus {
  outline: 2px solid var(--black);
}

.authForm input::placeholder {
  color: #999999;
}

a.textLink {
  width: fit-content;
  padding: 3px;
  color: var(--primary-p300);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 35px;
  transition: all 0.15s ease;
}

a.textLink:hover {
  color: var(--primary-p75);
}

p.paragraphWithLink {
  color: var(--neutral-n500);
  text-align: center;
  margin-bottom: 10px;
}

p.paragraphWithLink a.textLink {
  padding: 3px 0;
}

.btnEnter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-p300);
  border-radius: 40px;
  height: 40px;
  width: 145px;
  margin-bottom: 42px;
  border: 3px solid transparent;

  align-self: flex-end;
  transition: all 0.15s ease;
}

.btnEnter:not(:disabled):hover,
.btnEnter:not(:disabled):active {
  background: white;
  color: var(--primary-p300);
  border: 3px solid var(--primary-p300);
}

.btnEnter:disabled {
  background: var(--placeholder-text);
}

.btnEnter svg {
  /* color: var(--black); */
  animation: spin;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 500px) {
  .authPageContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }

  .authPageContainer p {
    font-size: 1.25rem;
    margin-bottom: 32px;
  }

  .authForm {
    margin-top: 6vh;
    width: 380px;
  }

  .authForm input {
    margin-bottom: 32px;
    font-size: 1.25rem;
    height: 60px;
  }

  a.textLink {
    font-size: 1.25rem;
  }

  .btnEnter {
    height: 60px;
    font-size: 1.25rem;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 901px) {
  .authPageContainer {
    justify-content: center;
  }

  .authForm {
    width: 380px;
    margin-top: unset;
    max-height: unset;
    justify-content: unset;
  }

  a.textLink {
    margin-bottom: unset;
  }
}
