.authPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: var(--neutral-n20);
}

.logoAuth {
  position: absolute;
  margin: 8px 0;
  top: 22px;
  right: 6%;
  z-index: 1;
}

.acmeLogoBack {
  display: none;
}

.backButtonLink {
  position: absolute;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-p300);
  border-radius: 50%;
  top: 22px;
  left: 6%;
  z-index: 1;
}

.backButtonLink svg {
  color: var(--white);
}

.authPageContainer h1,
.authPageContainer p {
  width: 100%;
}

.authPageContainer h1 {
  color: var(--neutral-n900);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.authPageContainer p {
  color: var(--neutral-n200);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 25px;
}

.formWrapper {
  padding: 86px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.authForm {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.authForm label {
  color: var(--neutral-n800);
  width: fit-content;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 15px;
}

.authForm input {
  padding: 0px 16px;
  margin-bottom: 24px;
  height: 50px;
  border-radius: 5px;
  background: var(--neutral-n20);
}

.authForm .passwordField,
.passwordField {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.authForm .passwordField input,
.passwordField input {
  padding: 0px 49px 0px 16px;
  margin-bottom: unset;
}

.authForm .passwordField button,
.passwordField button {
  color: var(--neutral-n500);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: unset;
}

a.textLink {
  width: fit-content;
  padding: 3px;
  color: var(--primary-p300);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 25px;
}

a.textLink:hover {
  color: var(--primary-p75);
}

p.paragraphWithLink {
  color: var(--neutral-n500);
  text-align: center;
  margin-bottom: 25px;
}

p.paragraphWithLink a.textLink {
  padding: 3px 0;
}

.btnEnterAuth {
  border-radius: 40px;
  height: 40px;
  min-width: 145px;
  max-width: 100%;
  padding: 0 35px;
  margin-top: 10px;
  margin-bottom: 42px;

  align-self: flex-end;
}

@media only screen and (min-width: 500px) {
  .authPageContainer h1 {
    font-size: 2.0625rem;
    margin-bottom: 24px;
  }

  .authPageContainer p {
    font-size: 1.1875rem;
    margin-bottom: 32px;
  }

  .logoAuth {
    margin: 20px 0;
    top: 20px;
  }

  .backButtonLink {
    width: 70px;
    height: 70px;
    top: 20px;
  }

  .backButtonLink svg {
    font-size: 26px;
  }

  .formWrapper {
    padding: 92px 0;
  }

  .authForm {
    margin-top: 5vh;
    width: 380px;
  }

  .authForm label {
    font-size: 1.1875rem;
  }

  .authForm input {
    margin-bottom: 32px;
    font-size: 1.1875rem;
    height: 56px;
  }

  .authForm .passwordField,
  .passwordField {
    margin-bottom: 32px;
  }

  a.textLink {
    font-size: 1.1875rem;
  }

  .btnEnterAuth {
    height: 50px;
    font-size: 1.1875rem;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 900px) {
  .authPageContainer {
    justify-content: center;
  }

  .authPageContainer::before {
    content: '';
    position: fixed;
    background-image: url(/images/authDesktopBackground.svg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .logoAuth {
    display: none;
  }

  .backButtonLink {
    top: 6%;
  }

  .authForm {
    width: 380px;
    margin-top: unset;
    justify-content: unset;
  }

  .formWrapper {
    margin: 24px 0;
    height: unset;
    width: unset;
    padding: 56px 50px;
    border-radius: 6px;
    border: 1px solid var(--neutral-n60);
  }

  a.textLink {
    margin-bottom: unset;
  }

  p.paragraphWithLink {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .backButtonLink {
    width: 90px;
    height: 90px;
    left: 9%;
  }

  .backButtonLink svg {
    font-size: 28px;
  }

  .acmeLogoBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background: var(--primary-p300);
    border-radius: 50%;
    position: absolute;
    bottom: 8%;
    right: 4%;
  }
}

@media only screen and (min-width: 1280px) {
  .backButtonLink {
    top: 8%;
    left: 9%;
  }
}

@media only screen and (min-width: 1560px) {
  .acmeLogoBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 210px;
    background: var(--primary-p300);
    border-radius: 50%;
    position: absolute;
    bottom: 8%;
    right: 5%;
  }

  .acmeLogoBack img {
    width: 120px;
    height: 40px;
  }
}

@media only screen and (min-width: 1660px) {
  .backButtonLink {
    left: 13%;
  }

  .acmeLogoBack {
    width: 220px;
    height: 220px;
  }
}

@media only screen and (min-width: 1760px) {
  .acmeLogoBack {
    right: 9%;
  }
}
