h1.emptyTitle {
  width: 280px;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.carouselContainer {
  width: 300px;
  margin-bottom: 30px;
  padding: 1px 0;
}

.carouselItem {
  /* width: 100% !important; */
  width: 300px !important;
  padding: 0 10px;
}

.carouselDotList {
  position: unset !important;
}

.produtoCarouselItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  outline: 1px solid var(--neutral-n60);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.produtoCarouselItemContainer img {
  margin-bottom: 10px;
}

.produtoCarouselItemContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.produtoCarouselItemContainer h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin-bottom: 8px;
  width: 100%;
}

.produtoCarouselItemContainer .categoryLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-p300);
  color: var(--white);
  width: 118px;
  height: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 38px;
  margin-bottom: 12px;
}

.produtoCarouselItemContainer span.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-p400);
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.produtoCarouselItemContainer p {
  font-size: 1rem;
  color: var(--neutral-n300);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 760px) {
  .carouselContainer {
    width: 600px;
  }
}

@media only screen and (min-width: 970px) {
  .carouselContainer {
    width: 900px;
  }
}

@media only screen and (min-width: 1300px) {
  .carouselContainer {
    width: 1200px;
  }
}
