.heroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--neutral-n20);
  height: 96px;
  margin-bottom: 24px;
  padding: 0 16px;
}

.heroContainer h1 {
  max-width: 100%;
  font-size: 1.25rem;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heroContainer p {
  font-size: 0.875rem;
}

@media only screen and (min-width: 760px) {
  .heroContainer {
    height: 126px;
    margin-bottom: 35px;
  }

  .heroContainer h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .heroContainer p {
    font-size: 1.0625rem;
  }
}
