.inputRow {
  display: flex;
  flex-direction: column;
}

.inputRow div input {
  padding: 0px 49px 0px 16px;
  margin-bottom: 0;
}

@media only screen and (min-width: 1400px) {
  .backButtonLink {
    composes: backButtonLink from '../authPagesGlobal.css';
    display: none;
  }

  .authForm {
    composes: authForm from '../authPagesGlobal.css';
    width: 792px;
  }

  .inputRow div {
    margin-bottom: 0;
  }

  .authForm input {
    margin-bottom: 0;
  }

  .gridContainer {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }
}
