.pedidoInvidivualPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pedidoInvidivualPageWrapper {
  display: flex;
  flex-direction: column;

  max-width: 310px;
  width: 78%;
  margin: 0 auto;
}

.pageTitleContainer {
  display: flex;
  flex-direction: column;
}

.pedidoInvidivualPage h1 {
  margin-bottom: 8px;
}

.pedidoInvidivualPage p {
  margin-bottom: 15px;
}

.gridContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 20px;
}

.pedidoIndividualInfoContainer h1 {
  font-size: 1.1875rem;
  margin-bottom: 12px;
}

.pedidoIndividualInfoContainer p {
  color: var(--neutral-n400);
  margin: 0;
}

.produtoItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid var(--neutral-n60);
  border-radius: 12px;
  width: 100%;

  min-height: 72px;
  padding: 23px 25px;
}

.produtoItemContainer:not(:last-child) {
  margin-bottom: 20px;
}

.produtoInfoContainer {
  margin-top: 16px;
  margin-bottom: 0;
}

.produtoItemContainer h1 {
  font-size: 1.1875rem;
  margin-bottom: 12px;
}

.produtoItemContainer p {
  color: var(--neutral-n400);
  margin: 0;
}

.pedidoTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.pedidoTitleContainer button {
  color: var(--neutral-n800);
  padding-left: 5px;
}

.pedidoTitleContainer h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.125rem;
}

p.mgTop {
  margin-top: 12px;
}

@media only screen and (min-width: 760px) {
  .pedidoInvidivualPage {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .pedidoInvidivualPageWrapper {
    max-width: 500px;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .pedidoIndividualInfoContainer {
    background: var(--neutral-n20);
    border-radius: 6px;
    padding: 16px 30px;
  }
}

@media only screen and (min-width: 1020px) {
  .pedidoInvidivualPageWrapper {
    max-width: 800px;
  }

  .pageTitleContainer h1 {
    font-size: 1.5625rem;
  }

  .pageTitleContainer p {
    font-size: 1.0625rem;
  }

  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 35px;
  }
}
