.pedidoInvidivualPageContainer h1 {
  margin-bottom: 8px;
}

.pedidoInvidivualPageContainer p {
  margin-bottom: 15px;
}

.pedidoIndividualInfoContainer {
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
}

.pedidoIndividualInfoContainer h1 {
  font-size: 1.1875rem;
  margin-bottom: 12px;
}

.pedidoIndividualInfoContainer p {
  color: var(--neutral-n400);
  margin: 0;
}

.pedidoItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid var(--neutral-n60);
  border-radius: 12px;
  width: 100%;

  min-height: 72px;
  padding: 23px 25px;
}

.pedidoItemContainer:not(:last-child) {
  margin-bottom: 20px;
}

.pedidoItemContainer .pedidoIndividualInfoContainer {
  margin-top: 16px;
  margin-bottom: 0;
}

.pedidoItemContainer h1 {
  margin-bottom: 12px;
}

.pedidoItemContainer p {
  margin: 0;
}

.pedidoTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.pedidoTitleContainer button {
  color: var(--neutral-n800);
  padding-left: 5px;
}

.pedidoTitleContainer h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.125rem;
}

p.mgTop {
  margin-top: 12px;
}
