.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-menu-height);
  padding: 0 15px;
}

.rightItems {
  display: flex;
}

.rightItems a:not(:last-child),
.rightItems button:not(:last-child) {
  margin-right: 10px;
}

.iconBtn,
.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.logoLink {
  margin-left: 15px;
}

.iconBtn svg {
  color: var(--neutral-n800);
}

.sidebarShadow {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  display: none;
  transition: all 0.15s ease;
}

.sidebarShadow.visible {
  display: block;
}
