.headerMenu {
  width: 100%;
  height: var(--header-menu-height-mobile);
}

.headerWrapper {
  max-width: 1432px;
  width: 91.6%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blueBarContainer {
  display: none;
  width: 100%;
  height: var(--blue-bar-height);
  background: var(--primary-p500);
  color: var(--white);
}

.blueBarLinks a {
  font-family: var(--font-merriweather);
  font-size: 0.9375rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.blueBarLinks a svg {
  margin-right: 12px;
}

.blueBarLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 630px;
}

.headerLinks {
  display: none;
  margin: 0 26px;
  width: 100%;
  max-width: 520px;
}

.headerLinks .link {
  color: var(--neutral-n800);
  font-family: var(--font-merriweather);
  font-size: 1.125rem;
  font-weight: 400;
  text-wrap: nowrap;
}

.headerLinks .link:hover,
.blueBarContainer a:hover {
  text-decoration: underline;
}

.headerLinks .link:not(:last-child) {
  margin-right: 12px;
}

.containerUserAccount {
  display: none;
  min-width: 165px;
}

.containerCategorias,
.containerUserAccount {
  position: relative;
}

.containerCategorias button.link {
  padding: 3px;
}

.containerCategorias button svg {
  margin-left: 5px;
}

.containerUserAccount button {
  width: 100%;
  color: var(--neutral-n800);
  font-family: var(--font-merriweather);
  font-weight: 400;
  text-wrap: nowrap;
  border: 1px solid var(--neutral-n60);
  padding: 5px;
  border-radius: 6px;
  justify-content: space-between;
}

.containerUserAccount button div {
  display: flex;
  align-items: center;
}

.containerUserAccount button span {
  max-width: 112px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerUserAccount button svg:first-child {
  margin-right: 8px;
}

.containerUserAccount button svg:last-child {
  margin-left: 8px;
}

.dropdownCategorias {
  position: absolute;
  right: 0;
  left: 0;
  color: black;
  background: var(--white);
  border: 1px solid var(--neutral-n60);
  margin: 0.9rem auto auto;
  padding: 3px 2px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdownCategorias.visible {
  opacity: 1;
  transform: translateY(-0.3rem);
  visibility: visible;
}

.dropdownCategorias a,
.dropdownCategorias div,
.dropdownCategorias button {
  font-weight: 400;
  font-family: var(--font-merriweather);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.dropdownCategorias a:hover,
.dropdownCategorias div:hover,
.dropdownCategorias button:hover {
  background: var(--primary-p400);
  color: var(--white);
}

.rightItems {
  display: flex;
  align-items: center;
}

.rightItems a:not(:last-child),
.rightItems button:not(:last-child) {
  margin-right: 10px;
}

.hamburguer,
.iconBtn,
.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.userIcon {
  display: none;
}

.logoLink {
  margin-left: 15px;
}

.hamburguer svg,
.userIcon svg,
.iconBtn svg {
  color: var(--neutral-n800);
}

.cartLink {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -3px;
  right: -4px;
  background: var(--success-s200);
  color: var(--neutral-n800);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.sidebarShadow {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00000099;
  display: none;
  transition: all 0.15s ease;
}

.sidebarShadow.visible {
  display: block;
}

@media only screen and (min-width: 900px) {
  .headerMenu {
    height: var(--header-menu-height-desktop);
  }

  .blueBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburguer {
    display: none;
  }

  .containerUserAccount {
    display: block;
  }

  .userIcon {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--neutral-n800);
    font-family: var(--font-merriweather);
    font-weight: 400;
    text-wrap: nowrap;
    border: 1px solid var(--neutral-n60);
    padding: 5px 8px;
    border-radius: 6px;
  }

  a.userIcon:hover {
    text-decoration: underline;
  }

  .userIcon svg {
    margin-left: 10px;
  }

  .logoLink {
    margin: 0;
    padding: 0;
  }

  .logoLink img {
    width: 113px;
    height: 50px;
  }

  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .iconBtn svg {
    font-size: 34px;
  }

  .rightItems {
    width: 100%;
    justify-content: space-between;
    max-width: 278px;
  }

  .cartLink {
    order: 1;
  }

  .rightItems a:not(:last-child),
  .rightItems button:not(:last-child) {
    margin: 0px;
  }
}

@media only screen and (min-width: 940px) {
  .headerLinks {
    margin: 0 42px;
  }

  .rightItems {
    max-width: 301px;
  }
}
