.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding-top: 24px;
  padding-bottom: 60px;
}

.marker {
  composes: marker from './shopPagesGlobal.css';
  margin-bottom: 0;
  height: 3px;
}

.homeContainer {
  padding: 0 40px;
}

.homePage h2 {
  font-size: 1.4375rem;
  color: var(--neutral-n800);
  margin-bottom: 16px;
}

.homePage p {
  font-size: 1rem;
  color: var(--neutral-n300);
}

.homePage .heroTitle {
  font-size: 2rem;
  margin-bottom: 36px;
}

.homePage .heroTitle span {
  color: var(--primary-p400);
}

.homePage .heroImage {
  align-self: flex-end;
  margin: 64px 0;
  border-radius: 6px;
}

.lancamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  background: var(--neutral-n20);
  padding: 32px 8px;
  border-radius: 6px;
  text-align: center;
}

.sectionTitleContainer,
.lancamentos p {
  max-width: 270px;
}

.lancamentos p {
  text-align: justify;
}

.sectionTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lancamentos .sectionTitleContainer {
  margin-bottom: 26px;
}

.sectionLink {
  font-size: 1rem;
  width: 184px;
  border-radius: 50px;
  height: 40px;
}
