.homePage {
  composes: shopPage from './shopPagesGlobal.css';
  width: 100%;
  padding-top: 24px;
  padding-bottom: 60px;
}

.homePageWrapper,
.homeHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 360px;
  max-width: 450px;
  width: 91.6%;
  margin: 0 auto;
}

.marker {
  composes: marker from './shopPagesGlobal.css';
  margin-bottom: 0;
  height: 3px;
}

.homeContainer,
.homeHeroContainer {
  padding: 0 40px;
}

.homeHeroContainer .marker {
  display: none;
}

.homePage h2 {
  font-size: 1.4375rem;
  color: var(--neutral-n800);
  margin-bottom: 16px;
}

.homePage p {
  font-size: 1rem;
  color: var(--neutral-n300);
}

.homePage .heroTitle {
  font-size: 2rem;
  margin-bottom: 36px;
}

.homePage .heroTitle span {
  color: var(--primary-p400);
}

.homePage .heroImage {
  align-self: flex-end;
  margin: 64px 0;
  border-radius: 6px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  background: var(--neutral-n20);
  padding: 32px 8px;
  border-radius: 6px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.section.blue {
  background: var(--primary-p500);
  text-align: unset;
  padding: 32px 24px 140px;
  margin-bottom: 145px;
  width: 336px;
}

.section.blue .marker {
  background: var(--primary-p100);
}

.section.blue h1,
.section.blue h2,
.section.blue h3 {
  color: var(--white);
}

.section.blue p {
  color: var(--primary-p50);
}

.section.blue .sectionTitleContainer,
.section.blue p {
  max-width: unset;
}

.historyImageMobile {
  position: absolute;
  bottom: -145px;
  border-radius: 6px;
}

.sectionTitleContainer,
.section p {
  max-width: 270px;
}

.section p {
  text-align: justify;
}

.sectionTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
}

.lancamentosDesc {
  margin-bottom: 30px;
}

.sectionLink {
  font-size: 1rem;
  width: 184px;
  border-radius: 50px;
  height: 40px;
  margin-top: 30px;
}

.section.blue .sectionLink {
  align-self: flex-start;
  width: 233px;
  height: 48px;
  background: var(--primary-p100);
  color: var(--primary-p500);
  margin: 48px 0;
}

.section.blue .sectionLink:not(:disabled):hover,
.section.blue .sectionLink:not(:disabled):active {
  background: var(--primary-p500);
  color: var(--primary-p100);
  border: 3px solid var(--primary-p100);
}

.historyImageDesktop {
  display: none;
}

.promosTitle {
  font-size: 1.4375rem;
  margin-top: 60px;
}

.promosDesc {
  margin-top: 32px;
  margin-bottom: 48px;
}

.feedbacks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-p500);
  padding: 32px;
  text-align: center;
}

.feedbacks .sectionTitleContainer {
  margin-bottom: 0;
}

.feedbacks h2 {
  color: var(--white);
}

@media only screen and (min-width: 760px) {
  .homePage {
    padding-top: 0px;
    padding-bottom: 52px;
  }

  .homePage h2 {
    font-size: 2.25rem;
    margin-bottom: 26px;
  }

  .homePage p {
    font-size: 1.125rem;
  }

  .homeContainer {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9vh;
  }

  .homeContainer div {
    max-width: 460px;
  }

  .homePageWrapper,
  .homeHeroContainer {
    min-width: unset;
  }

  .homePageWrapper {
    max-width: 1432px;
  }

  .homeHeroContainer {
    max-width: unset;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 400px;
    height: 70vh;
    max-height: 908px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 9vh;

    background-image: url(/images/homeHeroImageDesktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
  }

  .homePage .heroTitle {
    font-size: 2.75rem;
    margin-bottom: 30px;
    color: var(--white);
    max-width: 400px;
    text-align: center;
  }

  .homeHeroContainer p {
    margin-top: 32px;
    font-size: 1.125rem;
    max-width: 480px;
    text-align: center;
    color: var(--white);
  }

  .marker {
    height: 4px;
    width: 240px;
  }

  .homeHeroContainer .marker {
    display: block;
  }

  .homePage .heroTitle span {
    color: var(--primary-p300);
  }

  .homePage .heroImage {
    display: none;
  }

  .section,
  .section.blue {
    width: 100%;
    margin-bottom: 9vh;
  }

  .section {
    background: unset;
    padding: 0;
  }

  .section.blue {
    padding: 52px 48px 224px;
    margin-bottom: 202px;
  }

  .section.blue .sectionTitleContainer,
  .section.blue p {
    max-width: 600px;
  }

  .section.blue p {
    text-align: justify;
  }

  .sectionTitleContainer,
  .section p {
    max-width: 420px;
  }

  .section p {
    text-align: unset;
  }

  .sectionTitleContainer {
    margin-bottom: 32px;
  }

  .lancamentosDesc {
    margin-bottom: 44px;
  }

  .sectionLink,
  .section.blue .sectionLink {
    font-size: 1.0625rem;
    width: unset;
    height: unset;
    padding: 10px 36px;
  }

  .sectionLink {
    margin-top: 35px;
  }

  .section.blue .sectionLink {
    align-self: center;
    margin: 52px 0;
  }

  .historyImageMobile {
    display: none;
  }

  .historyImageDesktop {
    display: block;
    position: absolute;
    width: 600px;
    height: auto;
    bottom: -202px;
  }

  .promosTitle {
    max-width: 600px;
    margin-top: 9vh;
    text-align: center;
  }

  .newsletter .promosTitle {
    max-width: 460px;
  }

  .promosDesc {
    max-width: 600px;
    text-align: center;
    margin-bottom: 48px;
  }

  .newsletter .promosDesc {
    max-width: 430px;
  }
}

@media only screen and (min-width: 1060px) {
  .homeHeroContainer {
    background-position: bottom 42% right;
    background-size: 120%;
  }
}
