.shopPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

.shopPage {
  padding: 15px 0px 40px;
  width: 280px;
  min-height: calc(100vh - var(--header-menu-height-mobile));
}

.loadingProdutoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 95px;
  min-height: calc(100vh - var(--header-menu-height-mobile));
}

.shopPage h1 {
  font-size: 1.5rem;
  color: var(--neutral-n800);
  margin-bottom: 16px;
}

.marker {
  width: 120px;
  height: 2px;
  background: var(--primary-p300);
  margin-bottom: 20px;
}

@media only screen and (min-width: 760px) {
  .shopPage {
    min-height: calc(
      100vh - var(--header-menu-height-desktop) - var(--blue-bar-height)
    );
  }

  .loadingProdutoPage {
    min-height: calc(
      100vh - var(--header-menu-height-desktop) - var(--blue-bar-height)
    );
  }
}
