.shopPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.shopPage {
  margin: 15px 0px 40px;
  width: 280px;
}

.loadingProdutoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto 0;
  padding-top: 15px;
  padding-bottom: 95px;
}
