* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --neutral-n800: #0f343a;
  --neutral-n900: #022930;
  --neutral-n500: #3c5a60;
  --neutral-n300: #587276;
  --neutral-n200: #677f83;
  --neutral-n100: #768b8f;
  --neutral-n60: #b1bdbf;
  --neutral-n20: #f5f6f7;
  --neutral-n10: #fafbfb;
  --primary-p50: #e6f8fc;
  --primary-p75: #99e3f1;
  --primary-p100: #6fd7ec;
  --primary-p200: #30c6e4;
  --primary-p300: #0dcaf1;
  --primary-p400: #04829b;
  --danger-d300: #f4404f;
  --placeholder-text: #858585;
}

html {
  font-family: var(--font-roboto);
  font-size: 100%;
}

h1,
h2 {
  font-family: var(--font-merriweather);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

body {
  background: var(--white);
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

body,
input,
select,
textarea {
  color: var(--neutral-n500);
}

input,
textarea,
select,
button {
  border: none;
  background: none;
}

input {
  width: 100%;
  transition: all 0.15s ease;
}

button,
.btnEnter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

button:disabled {
  cursor: unset;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

li {
  list-style: none;
}

input.inputDefault {
  outline: 2px solid transparent;
}

input.inputDefault:focus {
  outline: 2px solid var(--black);
}

input.inputDefault::placeholder {
  color: #999999;
}

.btnPrimary {
  background: var(--primary-p300);
  color: var(--white);
  border: 3px solid transparent;
  transition: all 0.15s ease;
}

.btnPrimary:not(:disabled):hover,
.btnPrimary:not(:disabled):active {
  background: white;
  color: var(--primary-p300);
  border: 3px solid var(--primary-p300);
}

.btnPrimary:disabled {
  background: var(--placeholder-text);
}

.btnPrimary svg,
.spinner {
  animation: spin;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btnPrimaryOutline {
  background: white;
  color: var(--primary-p300);
  border: 3px solid var(--primary-p300);
  transition: all 0.15s ease;
}
.btnPrimaryOutline:not(:disabled):hover,
.btnPrimaryOutline:not(:disabled):active {
  background: var(--primary-p300);
  color: var(--white);
  border: 3px solid transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
