* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --text-black: #3d3d3d;
  --btn-primary-text: #1f1f1f;
  --primary-soft: #cfe8ea;
  --primary-light: #45eba5;
  --primary-medium: #21aba5;
  --primary-dark: #1d566e;
  --input-color: #3d3d3d;
  --input-back: #f5f5f5;
  --placeholder-text: #858585;
}

html {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

body {
  background: var(--white);
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 16px;
}

body,
input,
select,
textarea {
  color: var(--text-black);
}

input,
textarea,
select,
button {
  border: none;
  background: var(--input-back);
}

button {
  color: var(--white);
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
