.categoriaContainer {
  width: 100%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 54px;
}

.categoriaContainer p {
  color: var(--neutral-n300);
}

h1.emptyTitle {
  width: 280px;
  text-align: center;
  padding-bottom: 24px;
  margin: auto;
  font-size: 1.25rem;
}
