.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 36px;
  background: var(--neutral-n800);
  color: white;
}

.logoFooter {
  display: none;
  margin-bottom: 25px;
}

.links {
  width: 100%;
  margin-bottom: 48px;
}

.links .linkContainer {
  padding: 24px 0;
  text-align: center;
}

.links .linkContainer a {
  font-weight: 400;
  padding: 6px;
}

.links .linkContainer a:hover {
  text-decoration: underline;
}

.separator {
  height: 2px;
  background: var(--white);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.social svg:not(:last-child) {
  margin-right: 22px;
}

.linkLine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.linkLine span:first-child {
  margin-right: 12px;
}

.linkLine span {
  margin: 0 12px;
}

.linkLine span:last-child {
  margin-left: 12px;
}

.linkLine .inlineSeparator {
  margin: unset;
}

.links .inlineSeparator {
  display: none;
}

.copyright {
  font-weight: 700;
}

@media only screen and (min-width: 760px) {
  .footerMenu {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .logoFooter {
    display: block;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 25px;
  }

  .links .inlineSeparator {
    display: block;
  }

  .links .linkContainer:not(:last-child) {
    margin: 0 5px;
  }

  .links .linkContainer a,
  .linkLine,
  .copyright {
    font-size: 1.0625rem;
  }

  .separator {
    display: none;
  }

  .social {
    margin-bottom: 32px;
  }

  .social svg {
    width: 36px;
    height: 36px;
  }

  .social svg:not(:last-child) {
    margin-right: 42px;
  }

  .linkLine {
    margin-bottom: 32px;
  }

  .copyrightContainer {
    width: 100%;
    padding: 18px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--neutral-n700);
  }
}
