.produtoPage {
  color: #666666;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtoPage h1,
.produtoPage h2 {
  color: #191919;
}

.produtoPageWrapper {
  width: 280px;
}

.produtoContainer {
  display: flex;
  flex-direction: column;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
}

img.mainImg,
.borderedImg {
  border-radius: 6px;
  border: 1px solid var(--neutral-n60);
}

.imgThumbs {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 15px;
}

.imgThumbs img:not(:first-child) {
  opacity: 0.5;
}

.imgThumbs img:not(:last-child) {
  margin-right: 8px;
  margin-bottom: unset;
}

.produtoDetalhes {
  overflow: hidden;
}

.produtoContainer .productTitle {
  font-size: 1.25rem;
  margin-bottom: 6px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productRating {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.productRating svg:not(:last-child) {
  color: #e7cc42;
  margin-right: 3px;
}

.productRating span {
  margin-left: 5px;
  font-size: 0.95rem;
}

.productStatus {
  color: #15a35c;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.productPrice {
  color: var(--primary-p400);
  font-size: 1.5rem;
  font-weight: 700;
}

p.paymentInfo {
  margin: 15px 0;
}

p.seeMoreOptions {
  font-weight: 700;
  color: var(--primary-p400);
}

.produtoActions {
  width: 280px;
}

.btnBuyContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btnBuy {
  width: 100%;
  border-radius: 39px;
  height: 48px;
  margin-right: 10px;
}

.btnBuy svg {
  animation: none;
  margin-right: 8px;
}

.btnAddToCart {
  padding: 10px;
  border-radius: 50%;
  height: 48px;
}

.productDesc {
  margin-top: 35px;
  margin-bottom: 45px;
  padding: 16px;
  border-radius: 6px;
  background: var(--neutral-n20);
}

.productDesc h1 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.productDesc p {
  color: var(--neutral-n300);
  word-break: break-word;
}

.productDesc p:not(:last-child) {
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

@media only screen and (min-width: 760px) {
  .produtoPage {
    max-width: 1432px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .produtoPageWrapper {
    width: 100%;
    max-width: 690px;
  }

  .produtoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .imagesContainer {
    flex-direction: row;
  }

  img.mainImg {
    width: 300px;
    height: 300px;
    padding: 30px;
    order: 1;
  }

  .imgThumbs {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .imgThumbs img:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .produtoDetalhes {
    order: 2;
    margin-left: 25px;
  }

  .produtoContainer .productTitle {
    font-size: 1.5rem;
    margin-bottom: 7px;
  }

  .productRating {
    margin-bottom: 8px;
  }

  .productStatus {
    font-size: 1.0625rem;
    margin-bottom: 8px;
    font-weight: 600;
  }

  .productDesc {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 26px 35px;
  }

  .productDesc h1 {
    font-size: 1.5rem;
    font-size: 1.375rem;
    margin-bottom: 15px;
  }

  .titleContainer {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1020px) {
  .produtoPageWrapper {
    max-width: 773px;
  }

  img.mainImg {
    width: 325px;
    height: 325px;
    padding: 35px;
    order: 1;
  }

  .imgThumbs img {
    width: 68px;
    height: 68px;
  }

  .produtoActions {
    width: 330px;
  }

  .btnBuyContainer {
    max-width: unset;
  }
}
