.produtoContainer {
  margin: 15px 0px 30px;
  color: #666666;
  width: 280px;
}

.produtoContainer h1,
.produtoContainer h2 {
  color: #191919;
}

img.mainImg {
  border-radius: 6px;
  border: 1px solid var(--neutral-n60);
}

.imgThumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}

.imgThumbs img:not(:last-child) {
  margin-right: 5px;
  margin-bottom: unset;
}

.productTitle {
  font-size: 1.25rem;
  margin-bottom: 6px;
}

.productStatus {
  color: #15a35c;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.productPrice {
  color: var(--primary-p400);
  font-size: 1.5rem;
  font-weight: 700;
}

p.paymentInfo {
  margin: 15px 0;
}

p.seeMoreOptions {
  font-weight: 700;
  color: var(--primary-p400);
}

.btnBuyContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.btnBuy {
  width: 100%;
  border-radius: 39px;
  height: 48px;
  margin-right: 10px;
}

.btnBuy svg {
  animation: none;
  margin-right: 8px;
}

.btnAddToCart {
  padding: 10px;
  border-radius: 50%;
  height: 48px;
}

.productDesc {
  margin: 35px 0;
  padding: 16px;
  border-radius: 6px;
  background: var(--neutral-n20);
}

.productDesc h1 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.productDesc p {
  color: var(--neutral-n300);
}
