.carouselContainer {
  width: 300px;
  margin-top: 36px;
  margin-bottom: 25px;
}

.carouselItem {
  /* width: 100% !important; */
  width: 300px !important;
  padding: 0 10px;
}

.carouselDotList {
  position: unset !important;
}

.feedbackItem {
  width: 280px;
  padding: 24px 32px;
  border-radius: 6px;
  background: var(--neutral-n900);
  color: var(--white);
}

.feedbackItem img {
  margin-bottom: 15px;
  width: 65px;
  height: 65px;
}

.feedbackItem .feedbackUserName {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.feedbackItem .feedbackTitle {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.feedbackItem p {
  color: var(--neutral-n70);
  text-align: justify;
}

.feedbackAvaliacao {
  margin-bottom: 13px;
}

.feedbackAvaliacao svg {
  color: #e7cc42;
}

.feedbackAvaliacao svg:not(:last-child) {
  margin-right: 4px;
}

@media only screen and (min-width: 760px) {
  .carouselContainer {
    width: 600px;
  }

  .feedbackItem img {
    width: 70px;
    height: 70px;
  }

  .feedbackItem .feedbackUserName {
    font-size: 1.0625rem;
  }

  .feedbackItem p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 970px) {
  .carouselContainer {
    width: 900px;
  }
}

@media only screen and (min-width: 1300px) {
  .carouselContainer {
    width: 1200px;
  }
}
