.carrinhoPage {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 60px;
}

.carrinhoWrapper {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  min-width: 350px;
  max-width: 440px;
  width: 85%;
  margin: 0 auto;
}

.titleMgTop {
  margin-top: 35px;
}

.produtosList {
  padding-top: 10px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.produtoItemContainer {
  display: flex;
  align-items: center;
  outline: 1px solid var(--neutral-n60);
  border-radius: 5px;
  padding: 12px 10px 12px 5px;
  height: 130px;
  width: 100%;
}

.produtoItemContainer:not(:last-child) {
  margin-bottom: 20px;
}

.produtoItemContainer .produtoInfo {
  width: 100%;
  margin-left: 8px;
}

.produtoItemContainer .produtoInfo h2,
.produtoItemContainer .produtoInfo h3 {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.produtoItemContainer .produtoInfo h2 {
  color: #084145;
}

.produtoItemContainer .produtoInfo h3 {
  color: var(--primary-p300);
}

.produtoItemContainer .produtoInfo p {
  font-size: 0.8125rem;
  margin-bottom: 10px;
}

.produtoItemContainer .produtoInfo .qtdTitle {
  margin-bottom: 3px;
  font-weight: 700;
}

.actionsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.qtdBtnContainer {
  display: flex;
  align-items: center;
  color: #144b4e;
}

.qtdBtnContainer span {
  margin: 0 10px;
  font-size: 0.8125rem;
}

.btnChangeQtd {
  color: var(--primary-p300);
}

.btnDeleteItem {
  background: var(--danger-d300);
  color: var(--white);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 0.15s ease;
  border: 1px solid transparent;
}

.btnDeleteItem:hover {
  background: var(--white);
  color: var(--danger-d300);
  border: 1px solid var(--danger-d300);
}

.vazioTitle {
  font-weight: 400;
  color: var(--neutral-n300);
}

.resumoCarrinho {
  padding: 16px;
  border-radius: 6px;
  background: var(--neutral-n20);
  margin-bottom: 25px;
}

.resumoCarrinho .textContainer:not(:last-child) {
  margin-bottom: 15px;
}

.resumoCarrinho h1,
.resumoCarrinho h2,
.resumoCarrinho h3 {
  margin-bottom: 6px;
  color: var(--neutral-n800);
}

.resumoCarrinho h1 {
  font-size: 1.25rem;
}

.resumoCarrinho h2,
.resumoCarrinho h3 {
  font-size: 1rem;
}

.resumoCarrinho .priceSmall {
  color: var(--primary-p300);
  font-size: 1rem;
}

.resumoCarrinho .priceMed {
  color: var(--primary-p400);
  font-size: 1.25rem;
}

.resumoCarrinho .priceBig {
  color: var(--success-s400);
  font-size: 1.5rem;
}

.resumoCarrinho p {
  color: var(--neutral-n300);
}

.resumoCarrinho .separator {
  height: 2px;
  background: var(--neutral-n300);
}

.resumoCarrinho .textLineSpaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnCarrinho {
  width: 100%;
  height: 48px;
  border-radius: 121px;
}

.btnCarrinho:not(:last-child) {
  margin-bottom: 15px;
}

@media only screen and (min-width: 900px) {
  .carrinhoPage {
    background: var(--neutral-n20);
  }

  .carrinhoWrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1432px;
    padding: 0;
  }

  .leftContent {
    min-width: 380px;
    margin-right: 32px;
    width: 70%;
  }

  .leftContent .contentItem:first-child,
  .rightContent .contentItem:last-child {
    margin-bottom: 30px;
  }

  .rightContent {
    min-width: 350px;
    width: 30%;
  }

  .rightContent .stickyContainer {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 24px;
  }

  .contentItem {
    background-color: var(--white);
    padding: 32px;
    border-radius: 6px;
    transition: all 0.15s ease;
  }

  .resumoPedido {
    order: -1;
  }

  .titleMgTop {
    margin-top: 0px;
  }

  .adicionarCEPWrapper {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1044px) {
  .rightContent {
    min-width: 360px;
  }
}

@media only screen and (min-width: 1120px) {
  .contentItem {
    padding: 40px;
  }

  .leftContent .contentItem {
    padding: 40px 46px;
  }

  .produtoItemContainer {
    padding: 20px 20px 20px 10px;
    height: 140px;
  }

  .produtoItemContainer img {
    width: 110px;
    height: 110px;
  }

  .produtoItemContainer .produtoInfo {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .produtoItemContainer .produtoInfoWrapper {
    width: 100%;
    margin-right: 30px;
    overflow: hidden;
  }

  .actionsContainer {
    flex-direction: column;
    align-items: center;
  }

  .produtoItemContainer .produtoInfo h2,
  .produtoItemContainer .produtoInfo h3 {
    font-size: 1rem;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .produtoItemContainer .produtoInfo h3 {
    color: var(--primary-p400);
  }

  .produtoItemContainer .produtoInfo p {
    font-size: 0.9375rem;
    margin-bottom: 0px;
  }

  .produtoItemContainer .produtoInfo .qtdTitle {
    margin-bottom: 5px;
    font-weight: 600;
  }

  .qtdBtnContainer {
    justify-content: space-around;
    width: 100%;
  }

  .qtdBtnContainer span {
    margin: 0;
    width: 100%;
    font-size: 0.9375rem;
    text-align: center;
  }

  .btnChangeQtd {
    padding: 3px;
  }

  .btnChangeQtd svg {
    font-size: 20px;
  }

  .btnDeleteItem {
    width: 90%;
    border-radius: 66px;
    margin-top: 12px;
  }

  .btnDeleteItem svg {
    font-size: 20px;
  }
}
