.carrinhoContainer h1 {
  font-size: 1.5rem;
  color: var(--neutral-n800);
  margin-bottom: 15px;
}

.marker {
  width: 120px;
  height: 2px;
  background: var(--primary-p300);
  margin-bottom: 20px;
}

.titleMgTop {
  margin-top: 35px;
}

.produtosList {
  padding-top: 10px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.produtoItemContainer {
  display: flex;
  align-items: center;
  outline: 1px solid var(--neutral-n60);
  border-radius: 5px;
  padding: 12px 10px 12px 5px;
  height: 130px;
  width: 100%;
}

.produtoItemContainer:not(:last-child) {
  margin-bottom: 20px;
}

.produtoItemContainer .produtoInfo {
  width: 100%;
  margin-left: 8px;
}

.produtoItemContainer .produtoInfo h2,
.produtoItemContainer .produtoInfo h3 {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.produtoItemContainer .produtoInfo h2 {
  color: #084145;
}

.produtoItemContainer .produtoInfo h3 {
  color: var(--primary-p300);
}

.produtoItemContainer .produtoInfo p {
  font-size: 0.8125rem;
  margin-bottom: 10px;
}

.produtoItemContainer .produtoInfo .qtdTitle {
  margin-bottom: 3px;
  font-weight: 700;
}

.actionsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.qtdBtnContainer {
  display: flex;
  align-items: center;
  color: #144b4e;
}

.qtdBtnContainer span {
  margin: 0 10px;
  font-size: 0.8125rem;
}

.btnChangeQtd {
  color: var(--primary-p300);
}

.btnDeleteItem {
  background: var(--danger-d300);
  color: var(--white);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: all 0.15s ease;
  border: 1px solid transparent;
}

.btnDeleteItem:hover {
  background: var(--white);
  color: var(--danger-d300);
  border: 1px solid var(--danger-d300);
}

.vazioTitle {
  font-weight: 400;
  color: var(--neutral-n300);
}

.resumoCarrinho {
  padding: 16px;
  border-radius: 6px;
  background: var(--neutral-n20);
  margin-bottom: 25px;
}

.resumoCarrinho .textContainer:not(:last-child) {
  margin-bottom: 15px;
}

.resumoCarrinho h1,
.resumoCarrinho h2,
.resumoCarrinho h3 {
  margin-bottom: 6px;
  color: var(--neutral-n800);
}

.resumoCarrinho h1 {
  font-size: 1.25rem;
}

.resumoCarrinho h2,
.resumoCarrinho h3 {
  font-size: 1rem;
}

.resumoCarrinho .priceSmall {
  color: var(--primary-p300);
  font-size: 1rem;
}

.resumoCarrinho .priceMed {
  color: var(--primary-p400);
  font-size: 1.25rem;
}

.resumoCarrinho .priceBig {
  color: var(--success-s400);
  font-size: 1.5rem;
}

.resumoCarrinho p {
  color: var(--neutral-n300);
}

.resumoCarrinho .separator {
  height: 2px;
  background: var(--neutral-n300);
}

.resumoCarrinho .textLineSpaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnCarrinho {
  width: 100%;
  height: 48px;
  border-radius: 121px;
}

.btnCarrinho:not(:last-child) {
  margin-bottom: 15px;
}
